apiVersion: v1
kind: Service
metadata:
  name: auth-service
  labels:
    app: meter-lab
spec:
  type: ClusterIP
  selector:
    app: auth
  ports:
  - name: auth
    port: 5090
    targetPort: 5090
    protocol: TCP
