apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: meter-lab
spec:
  template:
    spec:
      containers:
      - name: backend
        resources:
          requests:
            cpu: '100m'
            memory: '128Mi'
          limits:
            cpu: '500m'
            memory: '256Mi'

