apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: meter-lab
  namespace: meter-lab
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: meter-lab
  minReplicas: 1
  maxReplicas: 2
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70