apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: stage-ingress
  namespace: meter-lab
  annotations:
    kubernetes.io/ingress.class: "gce"
spec:
  ingressClassName: gce
  rules:
    - http:
        paths:
          - path: /frontend
            pathType: Prefix
            backend:
              service:
                name: web
                port:
                  number: 5080

          - path: /auth
            pathType: Prefix
            backend:
              service:
                name: auth
                port:
                  number: 5090

          - path: /backend
            pathType: Prefix
            backend:
              service:
                name: backend
                port:
                  number: 5070

