apiVersion: v1
kind: Service
metadata:
  name: web-service
  labels:
    app: meter-lab
spec:
  type: ClusterIP
  selector:
    app: web
  ports:
  - name: web
    port: 80
    targetPort: 5080
    protocol: TCP
