---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: C:\Kompose\kompose.exe convert -f .\compose.yaml -o .\k8s\local\kompose.yaml
    kompose.version: 1.37.0 (fb0539e64)
  labels:
    io.kompose.service: backend
  name: backend
spec:
  ports:
    - name: "5070"
      port: 5070
      targetPort: 5070
  selector:
    io.kompose.service: backend

---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: C:\Kompose\kompose.exe convert -f .\compose.yaml -o .\k8s\local\kompose.yaml
    kompose.version: 1.37.0 (fb0539e64)
  labels:
    io.kompose.service: web
  name: web
spec:
  ports:
    - name: "5080"
      port: 5080
      targetPort: 3000
  selector:
    io.kompose.service: web

---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: C:\Kompose\kompose.exe convert -f .\compose.yaml -o .\k8s\local\kompose.yaml
    kompose.version: 1.37.0 (fb0539e64)
  labels:
    io.kompose.service: backend
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: backend
  template:
    metadata:
      annotations:
        kompose.cmd: C:\Kompose\kompose.exe convert -f .\compose.yaml -o .\k8s\local\kompose.yaml
        kompose.version: 1.37.0 (fb0539e64)
      labels:
        io.kompose.service: backend
    spec:
      containers:
        - env:
            - name: PORT
              value: "5070"
          image: backend:latest
          name: backend
          ports:
            - containerPort: 5070
              protocol: TCP
      restartPolicy: Always

---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: C:\Kompose\kompose.exe convert -f .\compose.yaml -o .\k8s\local\kompose.yaml
    kompose.version: 1.37.0 (fb0539e64)
  labels:
    io.kompose.service: web
  name: web
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: web
  template:
    metadata:
      annotations:
        kompose.cmd: C:\Kompose\kompose.exe convert -f .\compose.yaml -o .\k8s\local\kompose.yaml
        kompose.version: 1.37.0 (fb0539e64)
      labels:
        io.kompose.service: web
    spec:
      containers:
        - image: web:latest
          name: web
          ports:
            - containerPort: 3000
              protocol: TCP
      restartPolicy: Always

