@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.1405 0.0044 285.8238);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1405 0.0044 285.8238);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1405 0.0044 285.8238);
  --primary: oklch(0.6933 0.1937 45.8561);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9676 0.0013 286.3752);
  --secondary-foreground: oklch(0.2103 0.0059 285.8835);
  --muted: oklch(0.9676 0.0013 286.3752);
  --muted-foreground: oklch(0.5519 0.0137 285.9422);
  --accent: oklch(0.9291 0.0413 57.7404);
  --accent-foreground: oklch(0.4784 0.1296 47.3367);
  --destructive: oklch(0.5771 0.2151 27.3187);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9197 0.004 286.32);
  --input: oklch(0.9197 0.004 286.32);
  --ring: oklch(0.6933 0.1937 45.8561);
  --chart-1: oklch(0.7159 0.1804 49.4714);
  --chart-2: oklch(0.8568 0.1599 89.0757);
  --chart-3: oklch(0.9468 0.1855 114.0635);
  --chart-4: oklch(0.9188 0.1853 128.5597);
  --chart-5: oklch(0.9066 0.179 138.344);
  --sidebar: oklch(0.6413 0.1782 46.1048);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.7978 0.1263 55.3442);
  --sidebar-primary-foreground: oklch(0.1405 0.0044 285.8238);
  --sidebar-accent: oklch(0.7159 0.1804 49.4714);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.5883 0.1624 46.4143);
  --sidebar-ring: oklch(0.7978 0.1263 55.3442);
  --font-sans: Poppins;
  --font-serif: Lora;
  --font-mono: Source Code Pro;
  --radius: 0.75rem;
  --shadow-x: 6px;
  --shadow-y: 6px;
  --shadow-blur: 16px;
  --shadow-spread: -4px;
  --shadow-opacity: 0.15;
  --shadow-color: 0 0% 0%;
  --shadow-2xs: 6px 6px 16px -4px hsl(0 0% 0% / 0.07);
  --shadow-xs: 6px 6px 16px -4px hsl(0 0% 0% / 0.07);
  --shadow-sm: 6px 6px 16px -4px hsl(0 0% 0% / 0.15),
    6px 1px 2px -5px hsl(0 0% 0% / 0.15);
  --shadow: 6px 6px 16px -4px hsl(0 0% 0% / 0.15),
    6px 1px 2px -5px hsl(0 0% 0% / 0.15);
  --shadow-md: 6px 6px 16px -4px hsl(0 0% 0% / 0.15),
    6px 2px 4px -5px hsl(0 0% 0% / 0.15);
  --shadow-lg: 6px 6px 16px -4px hsl(0 0% 0% / 0.15),
    6px 4px 6px -5px hsl(0 0% 0% / 0.15);
  --shadow-xl: 6px 6px 16px -4px hsl(0 0% 0% / 0.15),
    6px 8px 10px -5px hsl(0 0% 0% / 0.15);
  --shadow-2xl: 6px 6px 16px -4px hsl(0 0% 0% / 0.38);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1405 0.0044 285.8238);
  --foreground: oklch(0.9848 0 0);
  --card: oklch(0.1405 0.0044 285.8238);
  --card-foreground: oklch(0.9848 0 0);
  --popover: oklch(0.1405 0.0044 285.8238);
  --popover-foreground: oklch(0.9848 0 0);
  --primary: oklch(0.7684 0.1463 54.0528);
  --primary-foreground: oklch(0.1405 0.0044 285.8238);
  --secondary: oklch(0.2741 0.0055 286.0329);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.2741 0.0055 286.0329);
  --muted-foreground: oklch(0.7119 0.0129 286.0684);
  --accent: oklch(0.3619 0.0945 49.1635);
  --accent-foreground: oklch(0.7684 0.1463 54.0528);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.2741 0.0055 286.0329);
  --input: oklch(0.2741 0.0055 286.0329);
  --ring: oklch(0.7684 0.1463 54.0528);
  --chart-1: oklch(0.7978 0.1263 55.3442);
  --chart-2: oklch(0.9054 0.1156 91.5262);
  --chart-3: oklch(0.9653 0.1202 112.5256);
  --chart-4: oklch(0.9551 0.099 126.5677);
  --chart-5: oklch(0.958 0.0742 137.9087);
  --sidebar: oklch(0.1405 0.0044 285.8238);
  --sidebar-foreground: oklch(0.9848 0 0);
  --sidebar-primary: oklch(0.7684 0.1463 54.0528);
  --sidebar-primary-foreground: oklch(0.1405 0.0044 285.8238);
  --sidebar-accent: oklch(0.2741 0.0055 286.0329);
  --sidebar-accent-foreground: oklch(0.9848 0 0);
  --sidebar-border: oklch(0.2741 0.0055 286.0329);
  --sidebar-ring: oklch(0.7684 0.1463 54.0528);
  --font-sans: Poppins;
  --font-serif: Lora;
  --font-mono: Source Code Pro;
  --radius: 0.75rem;
  --shadow-x: 8px;
  --shadow-y: 8px;
  --shadow-blur: 20px;
  --shadow-spread: -6px;
  --shadow-opacity: 0.28;
  --shadow-color: 0 0% 0%;
  --shadow-2xs: 8px 8px 20px -6px hsl(0 0% 0% / 0.14);
  --shadow-xs: 8px 8px 20px -6px hsl(0 0% 0% / 0.14);
  --shadow-sm: 8px 8px 20px -6px hsl(0 0% 0% / 0.28),
    8px 1px 2px -7px hsl(0 0% 0% / 0.28);
  --shadow: 8px 8px 20px -6px hsl(0 0% 0% / 0.28),
    8px 1px 2px -7px hsl(0 0% 0% / 0.28);
  --shadow-md: 8px 8px 20px -6px hsl(0 0% 0% / 0.28),
    8px 2px 4px -7px hsl(0 0% 0% / 0.28);
  --shadow-lg: 8px 8px 20px -6px hsl(0 0% 0% / 0.28),
    8px 4px 6px -7px hsl(0 0% 0% / 0.28);
  --shadow-xl: 8px 8px 20px -6px hsl(0 0% 0% / 0.28),
    8px 8px 10px -7px hsl(0 0% 0% / 0.28);
  --shadow-2xl: 8px 8px 20px -6px hsl(0 0% 0% / 0.7);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  a:hover {
    @apply cursor-pointer;
  }

  button:hover {
    @apply cursor-pointer;
  }

  button:disabled {
    @apply cursor-auto;
  }

  label:hover {
    @apply cursor-pointer;
  }

  label:disabled {
    @apply cursor-auto;
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-xs;
  }

  input:focus ~ label {
    @apply left-0;
  }

  input[type="search"]::-webkit-search-cancel-button {
    @apply hidden;
  }
}
